<%- include("partials/header")%>

    <div class="container about-div">
        <h1>Know more </h1>
        <p>
            <%= aboutContent %>
        </p>
    </div>

    <%- include("partials/footer")%>