<%- include("partials/header")%>

    <div class="container row about-div ">
        <div class="col-8">
            <h1 class="about-heading">Know more </h1>
            <p class="about-content">
                Music has been known to have a significant impact on the human mind and can affect it in several ways.
                Some of the ways
                in which music can benefit the mind include
            </p>
            <ul class="about-ul">
                <li>Reducing stress and anxiety: Listening to music has been found to have a calming effect on the mind,
                    reducing stress and
                    anxiety levels.</li>
                <li>Improving mood: Certain types of music have been shown to have a positive impact on the mood,
                    uplifting it and helping
                    to combat depression.</li>
                <li>Enhancing creativity: Music has been shown to stimulate the brain and enhance creativity,
                    particularly in areas such as
                    problem-solving and decision-making.</li>
                <li>Improving memory: Music has been found to have a positive effect on memory, particularly in areas
                    such as verbal memory
                    and spatial-temporal skills.</li>
                <li>Boosting physical performance: Certain types of music have been found to have a motivating effect on
                    the mind and body,
                    boosting physical performance and reducing fatigue</li>
                <li>Fostering emotional intelligence: Music has the ability to evoke emotions, and by regularly
                    listening to music and
                    reflecting on our emotional responses to it, we can develop our emotional intelligence.</li>
            </ul>
        </div>
        <div class="col-4" style="padding-left: 60px;">
            <div>
                <img class="about-image-1" src="images/music_is.jpg" alt="">
            </div>
            <img class="about-image-2" src="images/pexels-cottonbro-studio-6686455.jpg" alt="">

        </div>
    </div>
    <%- include("partials/footer")%>