<%- include("partials/header")%>

    <div class="container contact-div">
        <h1>Contact information</h1>
        <div>
            <p>"Fresh Music" is a simple and user-friendly web application that allows users to post their own blogs
                and share them
                with the world. Whether you're an aspiring writer or just someone with a passion for sharing your
                thoughts and ideas, Fresh music makes it easy to get your message out there
            </p>
            <br>
            <h4>Here are my contact details </h4>
            <ul>
                <li>E-mail - jiamayank878@gmail.com</li>
                <li>Github - <a href="https://github.com/Mayank5112">click</a></li>
                <li>LinkedIn - <a href="https://www.linkedin.com/in/mayank-rao-4b98a5201/">click</a></li>
                <li>Online portfolio - <a href="https://web-dev-projects-weld.vercel.app">click</a></li>
            </ul>
        </div>
    </div>

    <%- include("partials/footer")%>