<%- include("partials/header")%>

    <div class="container contact-div">
        <h1>Contact information</h1>
        <div>
            <ul>
                <li>E-mail - jiamayank878@gmail.com</li>
                <li>Github - <a href="https://github.com/Mayank5112">click</a></li>
                <li>LinkedIn - <a href="https://www.linkedin.com/in/mayank-rao-4b98a5201/">click</a></li>
                <li>Online portfolio - <a href="https://web-dev-projects-weld.vercel.app">click</a></li>
            </ul>
        </div>
    </div>

    <%- include("partials/footer")%>