@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sassy+Frass&display=swap');
* {
	font-family: 'Roboto', sans-serif;
}

/* header */

.navbar {
	background-color: #f8ead8;
	border-bottom: 1px black solid;
}

/* home page */
.main {
	margin-top: 50px;
}

.main-card {
	margin: 10px;
}

.main h4 {
	font-weight: 400;
}

.main p {
	font-size: medium;
	font-weight: 300;
}
/* home page */
.end-tag {
	margin: 0;
	padding: 0;
	margin-bottom: 60px;
	text-align: center;
}
.end-tag > span {
	font-size: 50px;
	font-family: 'Sassy Frass', cursive;
}
/* about page  */

.about-div {
	margin: 40px auto 0 auto;
	height: 100vh;
	/* margin-top: 20px; */
}

.about-div > p {
	padding-left: 3px;
}

.about-heading {
	font-weight: 400;
}

.about-ul,
.about-content {
	font-weight: 350;
}

.about-image-1 {
	border-radius: 10px;
	z-index: -1;
	position: absolute;
	margin-top: 30px;
	height: 300px;
	width: 200px;
	-webkit-box-shadow: -28px 43px 15px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: -28px 43px 15px 0px rgba(0, 0, 0, 0.3);
	box-shadow: -28px 43px 15px 0px rgba(0, 0, 0, 0.3);
}

.about-image-2 {
	border-radius: 10px;
	position: relative;
	height: 300px;
	width: 200px;
	top: 32%;
	left: 29%;
	-webkit-box-shadow: -28px 43px 15px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: -28px 43px 15px 0px rgba(0, 0, 0, 0.3);
	box-shadow: -28px 43px 15px 0px rgba(0, 0, 0, 0.3);
}
/* contact page */

.contact-div {
	margin-top: 20px;
}

.contact-div > p {
	padding-left: 5px;
}

/* footer */
.filler {
	width: 100%;
	text-align: center;
}
.filler > span {
	font-family: 'Sassy Frass', cursive;
}
.footer {
	position: fixed;
	bottom: 0;
	background-color: #f8ead8;
	height: 25px;
	width: 100%;
	border-top: 1px solid black;
}

/* post.ejs */

.post {
	margin-top: 30px;
}
